<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href= "../public/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../public/assets/cwicon.png">
    <title>CodeWindow Telegram Post</title>
</head>

<body>
    <div class="container">

        <h1 class="mb-4 mt-4">Codewindow Telegram Post System</h1>
        <a href="/insertdata" class="btn btn-info mt-2">Click Here To Insert Data</a>
        <a href="/checkdata" class="btn btn-info mt-2">Click Here to Check Data</a>
        <a href="/createTelegramPost" class="btn btn-info mt-2">Click Here to create Telegram Post</a>
        <a href="/" class="btn btn-success mt-2">Click Here To go to Home</a>

        <div class="form-group mt-3">

            <form action="/postTelegram" method="POST" id="f1">
    
                <label for="com" class="mt-3">Company Name</label>
                <input type="text" name="com" id="i4" placeholder="TCS/CTS/etc" class="form-control">

                <label for="tn" class="mt-3">Link</label>
                <input type="text" name="ln" id="i2" placeholder="Link of the content" class="form-control">
    
                <label for="rol" class="mt-3">Role</label>
                <input type="text" name="rol" id="i5" placeholder="Analyst/SWE etc" class="form-control">
    
                <label for="ctc" class="mt-3">CTC</label>
                <input type="text" name="ctc" id="i6" placeholder="10LPA/6LPA" class="form-control">
    
                <label for="batch" class="mt-3">batch</label>
                <input type="text" name="batch" id="i7" placeholder="2022/2021 etc" class="form-control">
    
                <button type="submit" class="mt-4 btn btn-primary">Click Here To Create</button>
            </form>
            
        </div>

    </div>

</body>

</html>