<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href= "../public/assets/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="../public/assets/cwicon.png">
    <title>CodeWindow Subsystem</title>
</head>

<body>
    <div class="container">

        <h1 class="mb-4 mt-4">Codewindow Database Management System</h1>
        <a href="/insertdata" class="btn btn-info mt-2">Click Here To Insert Data</a>
        <a href="/checkdata" class="btn btn-info mt-2">Click Here to Check Data</a>
        <a href="/createTelegramPost" class="btn btn-info mt-2">Click Here Telegram Post Generation</a>
        <a href="/" class="btn btn-success mt-2">Click Here To go to Home</a>

    </div>

</body>

</html>